#/etc/tor_ssh/sshd_config
# mostly taken from Debian /etc/ssh/sshd_config

# What ports, IPs and protocols we listen for
Port 22

ListenAddress 127.0.1.7
Protocol 2
HostKey /etc/ssh_tor/ssh_host_ed25519_key
#AllowUsers <your tor user>

# Authentication:
LoginGraceTime 120
PermitRootLogin prohibit-password

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*
