#/etc/tor_ssh/sshd_config
Port 22
ListenAddress 127.0.1.7
HostKey /etc/ssh_tor/ssh_host_ed25519_key
PasswordAuthentication no
AuthenticationMethods publickey
X11Forwarding no
TCPKeepAlive yes
LogLevel VERBOSE

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# optional recommendation:
# AllowTcpForwarding no
# ClientAliveInterval 300
# ClientAliveCountMax 0

# Reduce allowed access to explicit user list
#AllowUsers <your tor user>
#AllowGroups ssh-tor
